name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6



      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Check formatting
        run: nix develop --command just ci-fmt-check

      - name: Run clippy
        run: nix develop --command just ci-clippy


      - name: Run tests
        run: nix develop --command just test


      - name: Run documentation tests
        run: nix develop --command just test-docs
        env:
          RUSTDOCFLAGS: "-D warnings"
